@model Modelo.Cadastros.Frequencia
@{
    Layout = "_LayoutIES";
}
@section styles {
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
}
<div class="card-block">
    <div class="card-header text-white bg-secondary text-center h1">Exibindo uma presença existente</div>
    <div class="card-body">
        <div class="form-group">
            <label asp-for="Aluno.Matricula" class="control-label"></label>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </span>
                <input asp-for="Aluno.Matricula" class="form-control" disabled="disabled" />
            </div>
            <label asp-for="Aluno.AlunoNome" class="control-label"></label>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </span>
                <input asp-for="Aluno.AlunoNome" class="form-control" disabled="disabled" />
            </div>
            <label asp-for="Calendario.DataNome" class="control-label"></label>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i>
                </span>
                <input asp-for="Calendario.DataNome" class="form-control" disabled="disabled" />
            </div>

            <label asp-for="Presenca" class="control-label"></label>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </span>
                <input asp-for="Presenca" class="form-control" disabled="disabled" />
            </div>
        </div>
    </div>
    <div class="card-footer bg-info text-center text-white">
        <form asp-action="Delete">
            <input type="hidden" asp-for="FrequenciaID" />
            <input type="submit" value="Remover Projeto" class="btn btn-light" />
            <a asp-action="Index" class="btn btn-info">Retornar à listagem de frequencia</a>
        </form>
    </div>
</div>
@section ScriptPage {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
